In [1]:
import numpy as np # linear algebra
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC
from sklearn.datasets import make_classification
from sklearn import preprocessing
from sklearn import utils

In [5]:
data = pd.read_csv("avacado.csv")

In [6]:
data=data.iloc[:,2:12]
data.head()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type
0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional
1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional
2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional
3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional
4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional

In [7]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder=LabelEncoder()
data["type"]=LabelEncoder.fit_transform(data["type"])
data

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type
0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,0
1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,0
2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,0
3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,0
4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,0
...,...,...,...,...,...,...,...,...,...,...
18244,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,1
18245,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,1
18246,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,1
18247,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,1
18248,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,1

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X=data.iloc[:,0:9]
y=data.iloc[:,9:10]

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)

In [11]:
from sklearn.svm import SVC
svc=SVC(random_state=0)
svc.fit(X_train,y_train)

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC(random_state=0)

In [12]:
y_pred=svc.predict(X_test)

In [13]:
y_pred

array([0, 0, 1, ..., 1, 1, 0])

In [14]:
from sklearn.metrics import classification_report

In [15]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.95      0.85      0.89      2989
           1       0.86      0.95      0.91      3034

    accuracy                           0.90      6023
   macro avg       0.90      0.90      0.90      6023
weighted avg       0.90      0.90      0.90      6023

In [16]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[2533,  456],
       [ 145, 2889]], dtype=int64)

In [17]:
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\statsmodels\discrete\discrete_model.py:1799: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

Optimization terminated successfully.
         Current function value: 0.172535
         Iterations 18
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.751
Dependent Variable: type             AIC:              6315.1983
Date:               2021-02-02 13:41 BIC:              6385.5051
No. Observations:   18249            Log-Likelihood:   -3148.6
Df Model:           8                LL-Null:          -12649.
Df Residuals:       18240            LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     18.0000
----------------------------------------------------------------
                  Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
----------------------------------------------------------------
AveragePrice      1.8180   0.0297 61.2449 0.0000  1.7598  1.8761
Total Volume      1.2716   0.4060  3.1322 0.0017  0.4759  2.0674
4046             -1.2717   0.4060 -3.1323 0.0017 -2.0674 -0.4760
4225             -1.2717   0.4060 -3.1323 0.0017 -2.0674 -0.4759
4770             -1.2719   0.4060 -3.1329 0.0017 -2.0676 -0.4762
Total Bags        0.8014   0.6155  1.3022 0.1929 -0.4048  2.0077
Small Bags       -2.0731   0.5604 -3.6996 0.0002 -3.1713 -0.9748
Large Bags       -2.0730   0.5604 -3.6995 0.0002 -3.1713 -0.9748
XLarge Bags      -2.1145   0.5605 -3.7727 0.0002 -3.2130 -1.0160
================================================================

In [19]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score as acc
from sklearn.naive_bayes import GaussianNB
# Build Naive Bayes classifier to use in feature selection
clf = GaussianNB()
# Build step forward feature selection
sfs1 = sfs(clf,
           k_features="best",
           forward=True,
           floating=False,
           verbose=2,
           scoring='accuracy',
           cv=10,
           n_jobs=-1)

In [20]:
sfs1.fit(X, y)
feat_cols = list(sfs1.k_feature_idx_)
print(feat_cols)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   7 out of   9 | elapsed:    3.2s remaining:    0.8s
[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:    3.2s finished

[2021-02-02 13:44:58] Features: 1/9 -- score: 0.7917146719538573[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   6 out of   8 | elapsed:    0.3s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   8 out of   8 | elapsed:    0.3s finished

[2021-02-02 13:44:58] Features: 2/9 -- score: 0.7805932167748137[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   4 out of   7 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   7 out of   7 | elapsed:    0.2s finished

[2021-02-02 13:44:58] Features: 3/9 -- score: 0.8362103160298006[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:    0.1s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:    0.3s finished

[2021-02-02 13:44:59] Features: 4/9 -- score: 0.8660215092525835[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    0.2s finished

[2021-02-02 13:44:59] Features: 5/9 -- score: 0.8743501261715935[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.2s finished

[2021-02-02 13:44:59] Features: 6/9 -- score: 0.8691988704638307[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   3 | elapsed:    0.1s finished

[2021-02-02 13:44:59] Features: 7/9 -- score: 0.8645413362172555[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   2 | elapsed:    0.1s finished

[2021-02-02 13:45:00] Features: 8/9 -- score: 0.8606508050949291[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

[0, 2, 3, 4, 8]

[Parallel(n_jobs=-1)]: Done   1 out of   1 | elapsed:    0.2s finished

[2021-02-02 13:45:00] Features: 9/9 -- score: 0.8473350757029561